<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

    <!-- Suppress DEBUG logs from Kafka and Testcontainers -->
    <logger name="org.apache.kafka" level="INFO"/>
    <logger name="org.testcontainers" level="INFO"/>
    <logger name="tc" level="INFO"/>
    <logger name="com.github.dockerjava" level="INFO"/>
</configuration>
